<div class="mainDiv">
    <!--TODO - Vytvorenie Možností pre prácu s dátami a tabuľkou-->
    <div class="options-widget"> možnosti</div>

    <div class="tableDiv">
        <!--TODO - Vytvorenie zobrazenia času a zapracovať to do task-u-->
        <div class="time-widget"> Časová tabuľka</div>

        <div class="taskData">
            <!--TODO - Doriešiť veci-->
            <div class="task-widget">
                <task-widget></task-widget>
            </div>
            <!--TODO - Vytvorenie zobrazenia dát a práca s nimi-->
            <div class="data-widget"> Zobrazenie tabuľky</div>

        </div>
    </div>
</div>

<date-component></date-component>
<!--
<div class="taskData">

    <div class="task-widget">
        <task-widget></task-widget>
    </div>
</div>
-->
